<a href="https://colab.research.google.com/github/NileshCT/Hello-Nilesh/blob/main/datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n1 = input()
print("first number")
n2 = input()
print("second number")
print("calculator",int(n1)+int(n2))

10
first number
12
second number
calculator 22

In [ ]:
q1=input()
q2=input()
print("q1")
print("q2")
print("calculation",int(q1)*int(q2),int(q1)+int(q2),id(q1),type(q1)," nilesh")

12
12
q1
q2
calculation 144 24 139654200582576 <class 'str'>  nilesh

In [ ]:
w1 = input()
w2 = input()
print("first")
a = "i am nilesh thonte"
print(a)
print("second")
b = "he is also me"
print(b)
print("calculate",int(w1)/int(w2))
print(a.count("i"))
print(b.find("am"))
b[-1]
b[:2]

23
12
first
i am nilesh thonte
second
he is also me
calculate 1.9166666666666667
2
-1

'he'

data types in python practice

following are the types of data types in python
1]int()
float
complex
str
numbers
byte
bool
bytearry
set
list
tuple
none

list data type

In [ ]:
list1 = [12,"nil",13,12.3]
list1[0]
list1[2]
list1.append
list1[0]=100

In [36]:
X = [10,20,30,40]
b=bytearray(X)
X[0]=100
print(b)

bytearray(b'\n\x14\x1e(')

In [37]:
for i in b:
  print(i)

10
20
30
40

In [38]:
x=[10,20,30]
b=bytearray(x)
b[0]=100
print(b)
for i in b:
    print(i)

bytearray(b'd\x14\x1e')
100
20
30

In [42]:
x=[10,20,20]
b=bytearray(x)
b[1]=100
print(b)
for i in b:
  print(i)

bytearray(b'\nd\x14')
10
100
20

In [51]:
x=[10,2,34,12,20,"power"]
print(x)
x[3]=100
print(x)
type(x)
x.append(120)
x.remove(120)
for i in x:
  print(i)
type(x)
x=x*2

[10, 2, 34, 12, 20, 'power']
[10, 2, 34, 100, 20, 'power']
10
2
34
100
20
power

In [56]:
x=[10,2,34,12,20,"power"]
a=x*3
print(a)

[10, 2, 34, 12, 20, 'power', 10, 2, 34, 12, 20, 'power', 10, 2, 34, 12, 20, 'power']

In [66]:
t=(12,23,45,67,89)
type(t)
t[1]
t[-2]
t[:2]
for i in t:
 print(i)

12
23
45
67
89

In [68]:
a=range(1,10)
print(a)
for i in a:
  print(i)
  list(range(10))

range(1, 10)
1
2
3
4
5
6
7
8
9

In [75]:
s ={1,2,34,"nilesh"}
type(s)
s.add(60)
s.remove(1)
for i in s:
  print(s)

{2, 34, 'nilesh', 60}
{2, 34, 'nilesh', 60}
{2, 34, 'nilesh', 60}
{2, 34, 'nilesh', 60}

In [ ]:
d = {101:"iphone",102:"samsung",103:"oppo"}
print(d)