<a href="https://colab.research.google.com/github/NileshCT/Hello-Nilesh/blob/main/for_and_while_loop_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
n=["nil","saw","vin"]
for i in n:
  print(i)
  for j in range(5):
      print(j)

nil
0
1
2
3
4
saw
0
1
2
3
4
vin
0
1
2
3
4

In [15]:
# for loop to iterate over a given input
list1=["nil","saw","pow","vin"]
list2=[1,2,3,4,5,6,7,8,9]
for i in list1:
  print(i)
  for j in list2:
    if j%2!=0:
      print(j)
print(i)

nil
1
3
5
7
9
saw
1
3
5
7
9
pow
1
3
5
7
9
vin
1
3
5
7
9
vin

In [ ]:
#iteeration in string
n="nilesh thonte"
for i in n:
  print(i)

In [18]:
n="nilesh thonte","12","13"
for i in n:
  print(i)

nilesh thonte
12
13

In [20]:

# Prints all letters except 'e' and 's'
cart=[12,13,15,300,20]
for i in cart:
  if i>200:
    continue
  print(i)

12
13
15
20

In [39]:
name="nilesh thonte"
for i in name:
  if i=="n" and i=="l":
    break
print(i)

e

In [40]:
#range function in python
for i in range(12):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [43]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [49]:
for i in range(1,5,2):
  print(i)

1
3

In [58]:
n="nilesh thonte"
for i in n:
  if i=="s":
    break
  print(i)

n
i
l
e

In [66]:
#performing sum of first 10 numbers
sum=0
i=1
for i in range(11):
  sum=sum+i
  i+=1
print(sum)

55

In [71]:

# prints Hello Geek 3 Times
for i in range(8):
  if i%2==0:
    print("hello",i)

hello 0
hello 2
hello 4
hello 6

In [78]:

# prints Hello Geek 3 Times
count=0
while (count<3):
  count=count+1
  print("hello",count)

hello 1
hello 2
hello 3

In [86]:
for i in range(1,6):
  for j in range(i):
    print(i,end="")
  print()

1
22
333
4444
55555