<a href="https://colab.research.google.com/github/NileshCT/Hello-Nilesh/blob/main/homework_python_class4_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# write a program to find the biggest of 3 numbers from command prompt.

In [16]:
a=int(input("mention first no.:"))
b=int(input("mention second number"))
c=int(input("mention third number"))
max=c if a>b and b>c else b if a>c else a
print("max number",max)

mention first no.:12
mention second number23
mention third number13
max number 12

program to show biggest number

In [18]:
a=23
b=24
c=14
if a>b:
  print(a)
else:
  print(b)
if b>c:
  print(b)
else:
  print(c)

24
24

In [19]:
a=int(input("print 1st number"))
b=int(input("write 2nd number"))
c=int(input("write 3rd number"))
if a>b:
  print(a)
else:
  print(b)
if b>c:
  print(b)
else:
  print(c)

print 1st number23
write 2nd number14
write 3rd number35
23
35

In [20]:
a=int(input("print 1st number"))
b=int(input("write 2nd number"))
c=int(input("write 3rd number"))
if a>b and b>c and c>a:
  print("biggest number",a,b,c)

print 1st number12
write 2nd number34
write 3rd number13

In [22]:
a=int(input("write 1st number"))
b=int(input("write 2nd number"))
c=int(input("write 3rd number"))
if (a>b) and (a>c):
    largest_num = a
elif (b>a) and (b>c):
    largest_num = b
else:
    largest_num=c
print(largest_num)
#program for lastest of 3 number

write 1st number12
write 2nd number23
write 3rd number14
23

program for smallest of two number

In [25]:
a=23
b=21
if a<b:
  print("print",a)
else:
  print("print",b)

print 21

In [32]:
# program to find the smallest of 3 number.
a=int(input("mention 1st number"))
b=int(input("mention 2nd number"))
c=int(input("mention 3rd number"))
if (a<b) and (a<c):
  number=a
elif (b<a) and (b<c):
  number=b
else:
  number=c
print(number)

mention 1st number12
mention 2nd number13
mention 3rd number14
12

program for odd and even number

In [43]:
a=int(input())
if (a%2==0):
  print("even",a)
else:
  print("odd",a)

11
odd 11

program to represent *'s in right angle form

In [53]:
row = int(input("mention number"))
print("right angle pattern")
for i in range(1,row+1):
  for j in range(1,i+1):
      print("*",end=" ")
  print()

mention number6
right angle pattern
*
* *
* * *
* * * *
* * * * *
* * * * * *