<a href="https://colab.research.google.com/github/NileshCT/Hello-Nilesh/blob/main/PYTHON_BASIC_PRATICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello nilesh")

hello nilesh

In [ ]:
print ("i am nil")
print('nil')

i am nil
nil

In [ ]:
x=10
y=12
type(x)
print("x")

x

In [ ]:
r=10
print('r')

r

In [ ]:

r=10
print(r==10)

True

In [ ]:
a=1
b=2
c=3
print("a,b,c")

a,b,c

In [ ]:
a=1
b=2
c=3
print(a,c>2,a==2,"nil==1")

1 True False nil==1

In [ ]:
z=1
x=2
c=5
v=nil=6
print(((z+c)*x+(x*c)-z,v))

(21, 6)

In [ ]:
q=1
w=2
e=3
r=4
print(type(q==1))

<class 'bool'>

In [ ]:
q=1.2
w=2
e=3
r=4
print(type(q),type(w),type(e),type(r))

<class 'float'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
q=1
w=2
e=3
r=4
print((q-w-e-r),type(q),type(w),type(e),id(r))

-8 <class 'int'> <class 'int'> <class 'int'> 9793184

In [ ]:
q=2
w=3
e=6
t=4.0
print((q>e),(q+e),w,type(t),id(q),(w/e),"nil")

print("id(e)")
id(e)

False 8 3 <class 'float'> 9793120 0.5 nil
id(e)

9793248

In [ ]:
j=20.23
f=print(int(j))
q=10
w=12
e=43.23
f=12.45
print(float(q),int(e),complex(q),float(w),"nil",(q*e),(q+w+e))

20
10.0 43 (10+0j) 12.0 nil 432.29999999999995 65.22999999999999

In [ ]:
a=12
c=23
v=34
o=print(a>v)
a>c

False

False

In [ ]:
A="nileshThonte"
print(type(A))
print(id(A))
A='''NIL
Thonte
power point persentaion'''
print(A)

<class 'str'>
140254087353968
NIL
Thonte
power point persentaion

slicing of string

In [ ]:
A="nileshThonte"
print(A[:1])
a="""nil
thonte"""
print(a)
Q=print(a[4])
print(a[:3])
print(a[:])
a[2:3]
q="iamnil"
print(q[2:1])

n
nil
thonte
t
nil
nil
thonte

In [ ]:
q="mindpower"
q[3:4:2]

'd'

In [ ]:
#python program to check the number of occurrances in the string
s=input("enter yoyr string")
c=input("")
count=0
for i in s:
  if i==c:
    count+=1
print("no.of occurrance",count)

enter yoyr stringabababa
abababa
no.of occurrance 0

In [ ]:
s=input("")
d={}
for i in s:
  if i in d.keys():
    d[i]+=1
  else:
    d[i]=1
for k,v in d.items():
  print("{} = {} Times".format(k,v))

abababa
a = 4 Times
b = 3 Times

In [ ]:
# Write a Program to Remove Duplicate Characters from the given Input String?
s="aaaabbbcvcv"
l=[]
for i in s:
  if i not in l:
    l.append(i)
output=''.join(l)
print(output)

abcv

In [ ]:
string1="nil c thonte"
s=string1.split()[::-1]
l=[]
for i in s:
  l.append(i)
print(" ".join(l))

thonte c nil

In [4]:
#write aprogram to display the enttry in the safecase using user name and paswords.
print("welcome to atm")
user=input("enter your user name")
password=int(input("enter your four digit pin"))
if user=="nil" and password==3332:
  print("valid input")
else:
  print("invalid pass")

welcome to atm
enter your user namenil
enter your four digit pin3332
valid input

In [11]:
name=input("")
vowels = [each for each in name if each in "aeiouAEIOU"]
print(len(vowels))
print(vowels)

nileshthonte
4
['i', 'e', 'o', 'e']

In [16]:
#python code to display prime number from 1 to 20.
num=12
for i in range(2,num):
  if num%i==0:
    print("is prime number not")
    break
  else:
    print("is prime")

is prime number not

In [29]:
lwr=1
upr=20
for i in range(lwr,upr+1):
  for a in range(2,i):
   if i%a==0:
     print("not prime")
   else:
     print("prime")

prime
not prime
prime
prime
prime
prime
not prime
not prime
prime
prime
prime
prime
prime
prime
prime
not prime
prime
not prime
prime
prime
prime
prime
not prime
prime
prime
prime
prime
prime
not prime
prime
prime
not prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
not prime
not prime
not prime
prime
not prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
not prime
prime
prime
prime
prime
not prime
prime
prime
prime
prime
prime
prime
prime
not prime
prime
not prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
not prime
prime
not prime
prime
prime
prime
not prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
not prime
not prime
prime
prime
not prime
prime
prime
not prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
prime
not prime
prime
not prime
not prime
prime
prime
prime
prime
not prime
prime
prime
prime
prime
prime
prime
prime
prime
prime

In [32]:
#write apython program to add number in list.
list1=eval(input("enter a list"))
sum=0
for x in list1:
  if x%2==0:
   sum=sum+x
   print(sum)

enter a list1,2,3,4,5,6
2
6
12

In [33]:
#write apython code to display number from 1 to 10 using for and while loop
#for loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [34]:
#using while loop
x=1
while x<=10:
  x+=1
  print(x)

2
3
4
5
6
7
8
9
10
11

In [35]:
n=int(input(""))
sum=0
i=1
while i<=n:
  sum+=i
  i+=1
  print(sum)

5
1
3
6
10
15