<a href="https://colab.research.google.com/github/NileshCT/Hello-Nilesh/blob/main/Python_Practice_on_problem_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python program to print(hello world)
a="hello world"
print(a)

hello world

In [ ]:
#python program to add two numbers
a=int(input(""))
b=int(input(""))
c=a+b
print(c)

10
10
20

In [ ]:
a=[1,2,3,4,5,6]
c=sum(a)
print(c)

21

In [ ]:
#python program to find square root
def sqrt(n):
  return n**0.5
c=sqrt(4)
print(c)

2.0

In [ ]:
a=int(input(""))
b=a**0.5
print(b)

4
2.0

In [ ]:
#python program to calculate the area of area of triangle
base=int(input(""))
height=int(input(""))
area=0.5*base*height
print(area)

10
10
50.0

In [ ]:
#python program to check the given no is prime or not
num=11
for i in range(2,num):
  if num%i==0:
    print("given no. is not prime")
    break
else:
  print("given no. is prime")

given no. is prime

In [ ]:
#python program to swap two variables
a=[1,2,3]
b=[2,3,4]
a,b=b,a
print(a)

[2, 3, 4]

In [ ]:
#python program to generate random no.
import random
num=random.random()
print(num)

0.04434293406745149

In [ ]:
import random
num=random.random()
print(num)

0.8771446572794652

In [ ]:
#other ways to generate random number
import random
l=[2,3,4,5,7,8,9]
num=random.choice(l)
print(num)

3

In [ ]:
import random
l=[2,3,4,5,6,7]
num=random.choice(l)
print(num)

6

In [ ]:
import random
num=random.randrange(10,29,2)
print(num)

16

In [ ]:
#python program to solve quadratice equation
import cmath
a=int(input(""))
b=int(input(""))
c=int(input(""))
#calculate discrimate
d=b*2- 4*a*c
root1=(-b-cmath.sqrt(d))/(2*a)
root2=(-b+cmath.sqrt(d))/(2*a)
print(root1,"and",root2)

10
10
10
(-0.5-0.9746794344808963j) and (-0.5+0.9746794344808963j)

In [ ]:
import cmath
a=10
b=10
c=10
d=b*2-4*a*c
root1=(-b-cmath.sqrt(d))/(2*a)
root2=(-b+cmath.sqrt(d))/(2*a)
print(root1,"and",root2)

(-0.5-0.9746794344808963j) and (-0.5+0.9746794344808963j)

In [ ]:
#python program to check given no. is positive or negative or 0
a=int(input(""))
if a>0:
  print("given no. is positive")
elif a<0:
  print("given no. is negative")
else:
  print("given no. is zero")

0
given no. is zero

In [ ]:
#python program to check the given no. prime or not
num=110
if i in range(2,num):
  if num%i==0:
    print("given no. is not prime")
  else:
    print('given no. is prime number')

given no. is not prime

In [ ]:
#python program to check given no. is odd or even
for i in range(2,10):
  if i%2==0:
    print("given no. is even")
    print("pass")
    continue
  else:
    print("given no. is odd")

given no. is even
pass
given no. is odd
given no. is even
pass
given no. is odd
given no. is even
pass
given no. is odd
given no. is even
pass
given no. is odd

In [ ]:
#python program to check leap year
n=2000
if (n%4==0) and (n%100!=0):
  print("given no. is leap year")
elif (n%100==0):
  print("given year is not leap year")
elif (n%400==0):
  print("given no. is leap year")

given year is not leap year

In [ ]:
#write apython program to find the largest no. from three number
a=int(input(""))
b=int(input(""))
c=int(input(""))
if a>b and a>c:
  print("a is greater")
elif b>c:
  print("b is greater")
else:
  print("c id greater")

10
20
30
c id greater

In [ ]:
#python program to check all prime number from interval
lower=int(input(""))
upper=int(input(""))
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
        print("given no. is not prime")
    else:
      print(num)

2
10
2
3
5
7

In [ ]:
num=11
for i in range(2,num):
  if num%i==0:
    print("given is not prime")
    break
  else:
    print("given no. is prime")

given no. is prime
given no. is prime
given no. is prime
given no. is prime
given no. is prime
given no. is prime
given no. is prime
given no. is prime
given no. is prime

In [ ]:
#calculate data.info 
import numpy as np
from scipy import stats
dataset=[5,5,2,3,4,6,18]
#MEAN
mean=np.mean(dataset)
median=np.median(dataset)
mode=stats.mode(dataset)
std=np.std(dataset)
vr=np.var(dataset)

In [ ]:
#calling a python function
def fun():
  print("hello world")
fun()

hello world

In [ ]:
def sum(a,b):
  return a+b
sum(10,20)

30

In [ ]:
def sum_dif(a,b):
  sum=a+b
  dif=a-b
  print("all ok")
  return sum,dif
sum_dif(10,20)

all ok

(30, -10)

In [ ]:
def multi(a):
  return a*a
print('value of a is int')
multi(10)

value of a is int

100

In [ ]:
#python program to add two number
def sum(num1,num2):
  num3=num1+num2
  return num3
num1=10
num2=20
sum(num1,num2)

30

In [ ]:
#python program to given function is even or odd
def odd_even(n):
  n=3
  if n%2==0:
    print("given no. is even")
  else:
    print("given no. is odd")
odd_even(n)

given no. is odd

In [ ]:
#default keyword
def ass(x,y=10):
  print("x",x)
  print("y",y)
ass(20)

x 20
y 10

In [ ]:
#Python Program to Find the Factorial of a Number
import math
num=4
c=math.factorial(num)
print(c)

24

In [ ]:
def factorial(n):
  return 1 if (n==1 or n==0) else n * factorial(n - 1);
num=3
print("fact of num")
factorial(num)

fact of num

6

In [ ]:
#Python Program to Display the multiplication Table
i=1
for i in range(1,11):
  c=2*i
  print(c)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Python Program to Find the Sum of Natural Numbers
num=0
for i in range(1,11):
  num=num+i
  print(num)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#Python Program to Find the Sum of Natural Numbers
def sum(n):
  return n*(n+1)/(2)
n=10
print(sum(n))

55.0

In [ ]:
#Python Program to Print the Fibonacci sequence
n=int(input("the fibo no. of is "))
a=0
b=1
c=0
i=1
print(a)
print(b)
while i<n:
  c=a+b
  i=i+1
  a=b
  b=c
  print(c)

the fibo no. of is 9
0
1
1
2
3
5
8
13
21
34

In [ ]:
#python number to check the armstrong number
num=int(input(""))
sum=0
temp=num
while temp>0:
  digit=temp%10
  cube=digit**3
  sum=sum+cube
  temp=temp//10

if sum==num:
  print("arm") 
else:
  print("not arm")

153
arm

In [ ]:
#Python Program to Find Numbers Divisible by Another Number
n1=int(input(""))
n2=int(input(""))
if n1%n2==0:
  print("given no. is dividual")
else:
  print("given no. is not dividual")

10
5
given no. is dividual

In [ ]:
#Python Program to Find HCF or GCD
def findhcf(x,y):
  if x>y:
    smaller=y
  else:
    smaller=x
  for i in range(1,smaller+1):
    if (x%i==0) and (y%i==0):
          hcf=i
  return hcf
print("hcf is",findhcf(12,36))

hcf is 12

In [2]:
#write a program to print 1st 25 odd numbers
for i in range(51):
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [12]:
#Write a program to print whether a given number is prime number or
#not
num=11
for i in range(2,num):
  if num%i==0:
    print("number is not prime")
    break
  else:
    print("number is prime ")
    break

number is prime

In [24]:
#python program to sind the number in given interval
for num in range(100,1000):
  temp=num
  sum=0
  while temp>0:
    digit=temp%10
    sum=sum+digit**3
    temp=temp//10
  if num==sum:
    print(num,"arm strong number")

153 arm strong number
370 arm strong number
371 arm strong number
407 arm strong number

In [26]:
#Write a program to print all the unique combinations of 1,2,3 and 4
def comb(L):
  for i in range(5):
    for j in range(5):
      for k in range(5):
          if (i!=j and j!=k and i!=k):
            print(L[i], L[j], L[k])
comb([1, 2, 3, 4, 5])

1 2 3
1 2 4
1 2 5
1 3 2
1 3 4
1 3 5
1 4 2
1 4 3
1 4 5
1 5 2
1 5 3
1 5 4
2 1 3
2 1 4
2 1 5
2 3 1
2 3 4
2 3 5
2 4 1
2 4 3
2 4 5
2 5 1
2 5 3
2 5 4
3 1 2
3 1 4
3 1 5
3 2 1
3 2 4
3 2 5
3 4 1
3 4 2
3 4 5
3 5 1
3 5 2
3 5 4
4 1 2
4 1 3
4 1 5
4 2 1
4 2 3
4 2 5
4 3 1
4 3 2
4 3 5
4 5 1
4 5 2
4 5 3
5 1 2
5 1 3
5 1 4
5 2 1
5 2 3
5 2 4
5 3 1
5 3 2
5 3 4
5 4 1
5 4 2
5 4 3

In [27]:
#.User will provide 2 numbers you have to find the HCF of those 2
#numbers.
def hcf(x,y):
  if x>y:
    smaller=y
  else:
    smaller=x
  for i in range(1,smaller+1):
    if (x%i==0) and (y%i==0):
      hcf=i
  return hcf
print("hcf is",hcf(12,36))

hcf is 12

In [30]:
#fibo series 
def fibo(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibo(n-2)+fibo(n-1)
n=20
for i in range(0,n):
  print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [36]:
#.Write a program to find the compound interest.
def compound(principal,rate,time):
  
  Amount = principal * (pow((1 + rate / 100), time))
  CI = Amount - principal
  print("Compound interest is", CI)
compound(1000,20,4)

Compound interest is 1073.6