<a href="https://colab.research.google.com/github/NileshCT/Hello-Nilesh/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##1.program to find oldest age amoung 3 person
a=int(input("age"))
b=int(input("age"))
c=int(input("age"))
if a>b and a>c:
  print("a is olderest")
if b>c and b>a:
  print("b is oldest")
if c>a and c>b:
  print("c is oldest")

age12
age9
age8
a is olderest

In [ ]:
a=[10,20,30]

In [ ]:
a=int(input("age"))
b=int(input("age"))
c=int(input("age"))
if a>b and a>c:
  print("a")
elif b>a and b>c:
  print("b")
else:
  print("c")

age12
age56
age34
b

In [ ]:
a=[10,20,30]
b=int(input("inter age"))
for i in a:
  if i > b:
    print("age in a is greater")
  else:
    print("age in b is greater")

inter age23
age in b is greater
age in b is greater
age in a is greater

In [ ]:
# program to convert celcious to faraenheat
a=int(input(""))
b=a*33.8
print(b)

10
338.0

In [ ]:
a=[10,20,30]
for temp in a:
  if temp==10:
    y=(temp*1.8)+32
    print(y)
  
  if temp==20:
    x=(temp*1.8)+32
    print(x)
    
  if temp==30:
    z=(temp*1.8)+32
    print(z)

50.0
68.0
86.0

In [ ]:
import numpy as np

a=[12,14,151,71,18]

cel=np.array(a)
print(cel)

fer=(cel*1.8)+32
print(fer)

[ 12  14 151  71  18]
[ 53.6  57.2 303.8 159.8  64.4]

In [ ]:
#program to find  the vowels from fiven words
a=input("mention name ")
vowels="aeiou"
for ele in a:
  if ele in vowels:
    print(ele)

mention name nil
i

In [ ]:
a=input("mention name")
vowels='a','i','o','e','u',
for ele in a:
  if ele in vowels:
    print(ele)

mention namenil
i

In [ ]:
#program to add two numbers
a=int(input("1st number"))
b=int(input("2nd number"))
c=a+b
print("addition of two number",c)

1st number12
2nd number10
addition of two number 22

In [ ]:
a=[12,13,11,10]
b=[10,11,23,43]
c=a+b
print(c)
# try this
a=[12,13,11,10]
b=[10,11,23,43]
d=a.append(b)
print(d)

[12, 13, 11, 10, 10, 11, 23, 43]
None

In [ ]:
#program to find greater of two number
a=int(input(""))
b=int(input(""))
if a>b:
  print(a)
if b>a:
  print("b is greater",b)

In [ ]:
#python program for factorial of number 
import math
a=int(input(""))
d=math.factorial(a)
print(d)

12
479001600

In [ ]:
#program to find the simple interest
p=int(input(""))
r=int(input(""))
t=int(input(""))
d=(p*r*t)/100
print(d)

10
10
12
12.0

In [ ]:
count=1
while count<=2:
  p=int(input(""))
  r=int(input(""))
  t=int(input(""))
  d=(p*r*t)/100
  print("si is as :",d)
  break
  count+=1

10
10
12
si is as : 12.0

In [ ]:
#program to find the compound interest
def c_i(p,r,t):
  p=int(input(""))
  r=int(input(""))
  t=int(input(""))
amount=p *(pow((1 + r/100),t)) 
ci=amount-p
print(ci)

21.38428376721003

In [ ]:
#python program to decide weather given no. is armstrong number or not.
n=153
sum=0
order=len(str(n))
copy_n=n
while n>0:
  digit=n%10
  sum=sum+digit**order
  n=n//10
if (sum==copy_n):
  print("armstrong number")
else:
  print("not arm strong number")

armstrong number

In [ ]:
#program to find area of circle
import math
math.pi
r=int(input(""))
a=math.pi * r *r
print("area of cicle",a)

10
area of cicle 314.1592653589793

In [ ]:
#Python program to print all prime number from the interval
n=int(input(""))
for i in range(2,n):
  if n%i==0:
    print("notprime")
    break
  else:
    print("prime ahe ")

6
notprime

In [ ]:
n=int(input(""))
for i in range(2,n):
  if n%i==0:
    print("notprime")
    break
  else:
    print("prime ahe ")

5
prime ahe
prime ahe
prime ahe

In [ ]:
n=7
for i in range(2,n):
  if n%i==0:
    print("not a prime number")
    break
else:
    print("prime number")

prime number

In [ ]:
#write a program to check nth fibonasi number
def fib(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(2,n):
      c=a+b
      a=b
      b=c
      print(c)
fib(5)

0
1
1
2
3

In [1]:
#program to find the largest element in the list
a=[10,20,30,40]
for i in a:
  if i>30:
    print("largest number is :",i)

largest number is : 40

In [4]:
a=[10,20,30,40]
i=10
while i>10:
  i=i+1
  print(a)

In [7]:
a=[10,20,30,40,50]
c=max(a)
print(c)

50

In [8]:
alist=[-45,0,3,10,90,5,-2,4,18,45,100,1,-266,706]
largest=alist[0]
for large in alist:
    if large > largest:
        largest=large
print(largest)

706

In [31]:
l=[]
n=int(input("length of list"))
for i in range(1,n+1):
  e=int(input("element"))
  print(e)
  l.append(e)
  print(l)
l.sort()
print(l)
print(l[n-1])

length of list3
element1
1
[1]
element3
3
[1, 3]
element2
2
[1, 3, 2]
[1, 2, 3]
3

In [66]:
#python program to interterchange 1st and last elemt in list
a=[10,20,30]
print(a)
a[0]
a[2] 
a[0],a[2]=a[2],a[0]
print(a)

[10, 20, 30]
[30, 20, 10]

In [71]:
#python program to swap any two number in list
a=[10,20,30,40]
a[0]
a[1]
a[0],a[1]=a[1],a[0]
print(a)

[20, 10, 30, 40]

In [79]:
#program to find the number occurrance of elemt in list
lst=list(input(""))
n=input(" ")
for i in lst:
  if(n in lst)==True:
    print(lst.count(n))
    break
  else:
    print(n,"no number is found in list")

1,2,3,4,1
 1
2

In [80]:
lst=list(input(""))
n=int(input(" "))
for i in lst:
  if(n in lst)==True:
    print(lst.count(n))
    break
  else:
    print(n,"no number is found in list")

1,2,3,4,1
 1
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list