<a href="https://colab.research.google.com/github/NileshCT/Hello-Nilesh/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##1.program to find oldest age amoung 3 person
a=int(input("age"))
b=int(input("age"))
c=int(input("age"))
if a>b and a>c:
  print("a is olderest")
if b>c and b>a:
  print("b is oldest")
if c>a and c>b:
  print("c is oldest")

age12
age9
age8
a is olderest

In [ ]:
a=[10,20,30]

In [ ]:
a=int(input("age"))
b=int(input("age"))
c=int(input("age"))
if a>b and a>c:
  print("a")
elif b>a and b>c:
  print("b")
else:
  print("c")

age12
age56
age34
b

In [ ]:
a=[10,20,30]
b=int(input("inter age"))
for i in a:
  if i > b:
    print("age in a is greater")
  else:
    print("age in b is greater")

inter age23
age in b is greater
age in b is greater
age in a is greater

In [ ]:
# program to convert celcious to faraenheat
a=int(input(""))
b=a*33.8
print(b)

10
338.0

In [ ]:
a=[10,20,30]
for temp in a:
  if temp==10:
    y=(temp*1.8)+32
    print(y)
  
  if temp==20:
    x=(temp*1.8)+32
    print(x)
    
  if temp==30:
    z=(temp*1.8)+32
    print(z)

50.0
68.0
86.0

In [ ]:
import numpy as np

a=[12,14,151,71,18]

cel=np.array(a)
print(cel)

fer=(cel*1.8)+32
print(fer)

[ 12  14 151  71  18]
[ 53.6  57.2 303.8 159.8  64.4]

In [ ]:
#program to find  the vowels from fiven words
a=input("mention name ")
vowels="aeiou"
for ele in a:
  if ele in vowels:
    print(ele)

mention name nil
i

In [ ]:
a=input("mention name")
vowels='a','i','o','e','u',
for ele in a:
  if ele in vowels:
    print(ele)

mention namenil
i

In [ ]:
#program to add two numbers
a=int(input("1st number"))
b=int(input("2nd number"))
c=a+b
print("addition of two number",c)

1st number12
2nd number10
addition of two number 22

In [ ]:
a=[12,13,11,10]
b=[10,11,23,43]
c=a+b
print(c)
# try this
a=[12,13,11,10]
b=[10,11,23,43]
d=a.append(b)
print(d)

[12, 13, 11, 10, 10, 11, 23, 43]
None

In [ ]:
#program to find greater of two number
a=int(input(""))
b=int(input(""))
if a>b:
  print(a)
if b>a:
  print("b is greater",b)

In [ ]:
#python program for factorial of number 
import math
a=int(input(""))
d=math.factorial(a)
print(d)

12
479001600

In [ ]:
#program to find the simple interest
p=int(input(""))
r=int(input(""))
t=int(input(""))
d=(p*r*t)/100
print(d)

10
10
12
12.0

In [ ]:
count=1
while count<=2:
  p=int(input(""))
  r=int(input(""))
  t=int(input(""))
  d=(p*r*t)/100
  print("si is as :",d)
  break
  count+=1

10
10
12
si is as : 12.0

In [ ]:
#program to find the compound interest
def c_i(p,r,t):
  p=int(input(""))
  r=int(input(""))
  t=int(input(""))
amount=p *(pow((1 + r/100),t)) 
ci=amount-p
print(ci)

21.38428376721003

In [ ]:
#python program to decide weather given no. is armstrong number or not.
n=153
sum=0
order=len(str(n))
copy_n=n
while n>0:
  digit=n%10
  sum=sum+digit**order
  n=n//10
if (sum==copy_n):
  print("armstrong number")
else:
  print("not arm strong number")

armstrong number

In [ ]:
#program to find area of circle
import math
math.pi
r=int(input(""))
a=math.pi * r *r
print("area of cicle",a)

10
area of cicle 314.1592653589793

In [ ]:
#Python program to print all prime number from the interval
n=int(input(""))
for i in range(2,n):
  if n%i==0:
    print("notprime")
    break
  else:
    print("prime ahe ")

6
notprime

In [ ]:
n=int(input(""))
for i in range(2,n):
  if n%i==0:
    print("notprime")
    break
  else:
    print("prime ahe ")

5
prime ahe
prime ahe
prime ahe

In [ ]:
n=7
for i in range(2,n):
  if n%i==0:
    print("not a prime number")
    break
else:
    print("prime number")

prime number

In [ ]:
#write a program to check nth fibonasi number
def fib(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(2,n):
      c=a+b
      a=b
      b=c
      print(c)
fib(5)

0
1
1
2
3

In [ ]:
#program to find the largest element in the list
a=[10,20,30,40]
for i in a:
  if i>30:
    print("largest number is :",i)

largest number is : 40

In [ ]:
a=[10,20,30,40]
i=10
while i>10:
  i=i+1
  print(a)

In [ ]:
a=[10,20,30,40,50]
c=max(a)
print(c)

50

In [ ]:
alist=[-45,0,3,10,90,5,-2,4,18,45,100,1,-266,706]
largest=alist[0]
for large in alist:
    if large > largest:
        largest=large
print(largest)

706

In [ ]:
l=[]
n=int(input("length of list"))
for i in range(1,n+1):
  e=int(input("element"))
  print(e)
  l.append(e)
  print(l)
l.sort()
print(l)
print(l[n-1])

length of list3
element1
1
[1]
element3
3
[1, 3]
element2
2
[1, 3, 2]
[1, 2, 3]
3

In [ ]:
#python program to interterchange 1st and last elemt in list
a=[10,20,30]
print(a)
a[0]
a[2] 
a[0],a[2]=a[2],a[0]
print(a)

[10, 20, 30]
[30, 20, 10]

In [ ]:
#python program to swap any two number in list
a=[10,20,30,40]
a[0]
a[1]
a[0],a[1]=a[1],a[0]
print(a)

[20, 10, 30, 40]

In [ ]:
#program to find the number occurrance of elemt in list
lst=list(input(""))
n=input(" ")
for i in lst:
  if(n in lst)==True:
    print(lst.count(n))
    break
  else:
    print(n,"no number is found in list")

1,2,3,4,1
 1
2

In [ ]:
lst=list(input(""))
n=int(input(" "))
for i in lst:
  if(n in lst)==True:
    print(lst.count(n))
    break
  else:
    print(n,"no number is found in list")

1,2,3,4,1
 1
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list
1 no number is found in list

In [ ]:
#program to generate sublist of list
s=("nilesh thonte")
l=s.split()
print(l)

['nilesh', 'thonte']

In [ ]:
#program to checkcommon item from list
a=[10,20,30,40]
b=[40,30,50,60]
print(set(a) & set(b))

{40, 30}

In [ ]:
#program to add three numbers
#a=int(input(""))
#b=int(input(""))
#c=int(input(""))
#d=a+b+c
#print(d)
a=[12,12,12]
for i in a:
  print(i)
d=a[0]+a[1]+a[2]
print(d)

12
12
12
36

In [ ]:
num_list=[]
number=int(input("enter len of range"))
for i in range(1,number+1):
    value = int(input("Please enter the Value of %d Element : " %i))
num_list.append(value)
print(num_list)
total=sum(num_list)
print(total)

enter len of range2
Please enter the Value of 1 Element : 12
Please enter the Value of 2 Element : 89
[89]
89

In [ ]:
#Write a program that will reverse a four digit number.Also it checks
#whether the reverse is true
a=("6565575")
d=a[::-1]
print(d)
#to check reverse is true

5755656

In [ ]:
#write a program that will tell whether the given year is a leap year
#or not.
year=int(input("enter a yyear"))

if year%4==0 and year%100!=0:
  print(year,"is leap year")
elif year%100:
  print(year,"is not leap year")
elif year%400:
  print(year,"is leap year")
else:
  print("year is not leap year")

enter a yyear2019
2019 is not leap year

In [ ]:
#. Write a program to find the euclidean distance between two
#coordinates.
import numpy as np
p1=np.array([1,3])
p2=np.array([4,2])
d=np.linalg.norm(p2-p1)
print(d)

3.1622776601683795

In [ ]:
#Write a program that take a user inputr of three angles and will
#find out whether it can form a triangle or not.
a=int(input(""))
b=int(input(""))
c=int(input(""))
d=a+b+c
if d==180:
  print("valid to form a triangle")
else:
  print("not valid to form triangle")

100
40
40
valid to form a triangle

In [ ]:
def Valid(a, b, c):
  if((a+b+c==180) and a!=0 and b!=0 and c!=0):
    return True
  else:
    return False
if __name__ == "__main__":
  a=int(input(""))
  b=int(input(""))
  c=int(input(""))  
  if(Valid(a,b,c)):
    print("Valid")
  else:
    print("invalid")

100
20
39
invalid

In [ ]:
#10. Write a program that will take user input of cost price and selling
#price and determines whether its a loss or a profit
cp=int(input(""))
sp=int(input(""))
profit=sp-cp
print(profit)

20
30
10

In [ ]:
def profit(cp,sp):
  profit=(sp-cp)
  return profit
def loss(cp,sp):
  loss=(cp-sp)
  return loss
if __name__=="__main__":
  cp=1200
  sp=2000
  if(sp==cp):
    print("no p and l")
  elif sp>cp:
    print((profit(cp,sp),"profit"))
  else:
    print(loss(cp,sp),"loss")

(800, 'profit')

In [ ]:
#python program to find the volume of cyclinder 
import math
math.pi
r=int(input("mention radius"))
h=int(input("mention height"))
v=3.14*pow(r,2)*h
print(v)
# calculate the cost
total_cost=v*40
print(total_cost)

mention radius1
mention height1
3.14
125.60000000000001

In [ ]:
#python program to calculate si with input value are given in program
p=1000
r=20
t=3
si=p*r*t/100
print(si)

600.0

In [ ]:
#. Write a program that will tell whether the given number is divisible
#by 3 & 6.
a=int(input(""))
if a%3==0 and a%6==0:
  print("number is ok")
else:
  print("no. is not ok")

15
no. is not ok

In [ ]:
#Write a program that will take three digits from the user and add
#the square of each digit.
a=int(input(""))
b=int(input(""))
c=int(input(""))
d=pow(a,2)
e=pow(b,2)
f=pow(c,2)
g=d+e+f
print(g)

10
10
10
300

In [ ]:
# to check the given no. is armstrong or not
a=int(input(""))
sum=0
order=len(str(a))
n_pow=a
while a>0:
  digit=a%10
  sum+=digit**order
  a=a//10
if (sum==n_pow):
  print("arm")
else:
  print("not arm")

153
arm

In [ ]:
#. Write a program that will take user input of (4 digits number) and
#check whether the number is narcissist number or not
a=int(input(""))
sum=0
order=len(str(a))
npow=a
while a>0:
  digit=a%10
  sum+=digit**order
  a=a//10
if(sum==npow):
    print("narcissist")
else:
    print("not")

153
narcissist

In [ ]:
#Write a program that will give you the in hand salary after
#deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between
#5-10 lakh–10%),(11-20lakh–20%),(20< _ – 30%)(0-1lakh print k).

 
def gross_sal(basic,grade):
  hra=0.10 * basic
  da=0.05 * basic
  pf=0.03 * basic
if grade =='A':
  allowance=1400
elif grade =='B':
  allowance=1200
else:
  allowance=1000
gross=round (basic+hra+da+allowance-pf)
return gross
if __name__=="__main__":
  basic=1000
  grade="a"
print(gross_sal(basic,grade))

NameError: ignored

In [ ]:
#Write a program that will tell the number of dogs and chicken are
#there when the user will provide the value of total heads and legs.
total_head=int(input(""))
total_legs=int(input(""))
if total_legs < total_head or total_legs==0 or total_legs % 2!=0:
  print("invalid input")
else:
  rabbits=(total_legs-(2 * total_head))/2
  chicken=total_head - rabbits
  print("no. of rabbits"+str(rabbits))
  print("no. of chicken"+str(chicken))

35
94
no. of rabbits12.0
no. of chicken23.0

In [ ]:
#.Write a program that will swap numbers
a=10
b=34
print(a)
print(b)
a,b = b,a
print(a)
print(b)

10
34
34
10

In [ ]:
#write a program to find the sum of first n numbers, where n will be
#provided by the user. Eg if the user provides n=10 the output should be
#55.
def findsum(n):
  sum=0
  x=1
  while x<=n:
    print(x)
    sum+=x
    x+=1
  return sum
n=10
print(findsum(n))

1
2
3
4
5
6
7
8
9
10
55
10
1 11

In [ ]:
#write a program to find the sum of first n numbers, where n will be
#provided by the user. Eg if the user provides n=10 the output should be
#55.
n=[1,2,3,4,5,6,7,8,9,10]
sum=0
i=0
for i in n:
  sum=sum+i
i=i+1
print(sum)
print(i)

55
11

In [ ]:
#python program to sum of sq of n natural number
def sumsq(n):
  sm=0
  for i in range(1,n+1):
    sm=sm+(i*i)
    print(sm)
  return sm
n=3
print(sumsq(n))

1
5
14
14

In [ ]:
#25.Write a program that can multiply 2 numbers provided by the user
#without using the * operator
import math
n=[10,2]
product=math.prod(n)
print(product)

20

In [ ]:
import numpy
n1=10
n2=10
c=numpy.prod(n1)
print(c)

10

In [ ]:
#26.Write a program that can find the factorial of a given number provided
#by the user.
n=5
fact=1
for i in range(1,n+1):
  fact=fact*i
  print(fact)

1
2
6
24
120

In [ ]:
import math
print("factorial of 5 is ", end="")
print(math.factorial(5))

factorial of 5 is 120

In [ ]:
def factorial (n=5):
  fact=1
  while n>=1:
    fact=fact*n
    n=n-1
  return fact

In [ ]:
f= factorial()
print(f)

120

In [ ]:
#python program to find the number of digits in number
a=2345
print(a)
digit=0
digit=a//10
print(digit)
b=digit//10
print(b)
d=b//10
print(d)
c=d//10
print(c)

2345
234
23
2
0

In [ ]:
number=int(input("given number is"))
count=0
while number>0:
  count+=1
  number=int(number/10)
print(count)

given number is456
3

In [ ]:
#.Print all factors of a given number provided by the user.
number=int(input("enter a number"))
l=[]
for i in range(1,number+1):
  if number%i==0:
    l.append(i)
print(l)

enter a number36
[1, 2, 3, 4, 6, 9, 12, 18, 36]

In [ ]:
#. Find the reverse of a number provided by the user(any number of digit)

n=int(input(""))
rev=0
while (n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
  print("rev of number",rev)

123
rev of number 3
rev of number 32
rev of number 321

In [ ]:
#Write a program to print the following pattern
# a program to print the following pattern
# *
# **
# ***
# ****
# *****
row=int(input("enter a row"))
for i in range(0,row):
  for j in range(0,i+1):
    print("*",end="")
  print("")

enter a row5
*
**
***
****
*****

In [ ]:
#Write a program to print the following pattern
# *
# **
# ***
# **
# *
row=int(input(""))
for i in range(row):
  for j in range(i+1):
    print("*",end="")
  print("")
for i in range(row):
  for j in range(row-i-1):
    print("*",end="")
  print("")

5
*
**
***
****
*****
****
***
**
*

In [ ]:
#.Write a program to print the following pattern
           
# *
# * * *
# * * * * *
# * * * * * * *
# * * * * * * * * *

In [ ]:
row=int(input(""))
for i in range(row):
  for j in range(0,i+1):
    print("* ",end="")
  print("")

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
row=int(input(""))
for i in range(row):
  for j in range(i+1):
    print("",end="")
  print("")
  for k in range(2*i+1):
    print(k+1,end="")
  print("")

In [ ]:
#Write a program that can check whether a given string is palindrome or
#not
name=input("write a string")
rev=name[::-1]
if rev==name:
  print("given string is palandrome")
else:
  print("not a palanadrom")
print(name)

write a stringnil
not a palanadrom
nil

In [ ]:
#.Write a program which can remove a particular character from a string.
name="nilesh"
new_string=name.replace("i","")
print(new_string)

nlesh

In [ ]:
name="nilesh thonte"
for char in "tn":
  new_string=name.replace(char,"")
print(new_string)

ilesh thote

In [ ]:
#.Count the number of vowels in a string provided by the user.
name="nilesh thonte"
vowels=["a","e","i","o","u"]
list1=[]
for x in name:
  if (x in vowels and x not in list1):
    list1.append(x)
print(list1)

['i', 'e', 'o']

In [ ]:
str=input("mention your string")
vow=0
for i in str:
  if (i=="a" or i=="e"or i=="i"or i=="o"or i=="u"):
    vow+=1
print(vow)

mention your stringnilesh thonte
4

In [ ]:
#.Count the number of vowels in a string provided by the user.
name="nilesh thonte"
name.index("t")

7

In [ ]:
name="nilesh thonte"
name.count("n")

2

In [ ]:
#. Find the length of a given string without using the len() function.
name="nilesh"
count=0
for i in name:
  count+=1
  print(count)

1
2
3
4
5
6

In [ ]:
def findlen(str):
  counter=0
  for i in str:
    counter+=1
  print(counter)
str="nilesh"
print(findlen(str))

6
None

In [ ]:
#Write a program that keeps on accepting a number from the user until
#the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write a python program to reverse a list
a=[1,2,3,4,5,6,7,8]
a.reverse()
print(a)

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a=[1,2,3,4,5,6,7,8]
x=a[-1]
s=[]
for i in a:
  x=x-1
  s.append(x)
  print(s)
  continue

[7]
[7, 6]
[7, 6, 5]
[7, 6, 5, 4]
[7, 6, 5, 4, 3]
[7, 6, 5, 4, 3, 2]
[7, 6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
#Write a python program to search a given number from a list
a=[1,3,4,5,6,7]
l=a.index(7)
print(l)

5

In [ ]:
a=[1,3,4,5,6,7]
for i in a:
  if i==6:
    print(i)

6

In [ ]:
#python program to find the second largest number
a=[12,3,4,5,6,1,11,2]
a.sort(reverse=True)
print(a)
l=a[1]
print(l)

[12, 11, 6, 5, 4, 3, 2, 1]
11

In [ ]:
#python programto add num frpm given list
a=[1,2,3,4,5]
sum=0

for i in a:
  sum=sum+i
  print(sum)

1
3
6
10
15

In [ ]:
# Write a program that can create a new list from a given list where each
# item in the new list is square of the item of the old list
a=[1,2,3,4,5,6,7,8]
l=[x**2 for x in a]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
a=[1,2,3,4,5,6,7,8]
l=[]
for i in a:
  x=i**2
  l.append(x)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
#Write a program that can reverse words of a given string
name="nilesh thonte classic"
b=name.split()
b.reverse()
' '.join(b)

'classic thonte nilesh'

In [ ]:
s='Learning Python is very Easy'
l=s.split()
l1=[]
i=len(l)-1
while i>=0:
  l1.append(l[i])
  i=i-1
output=' '.join(l1)
print(output)

In [2]:
#.Write a program that can count the number of words in a given string.
a="nilesh thonte"
x=a.split()
print(x)
c=len(x)
print(c)

['nilesh', 'thonte']
2

In [8]:
a="nilesh thonte c"
x=a.split()
sum=0
for i in x:
  sum+=1
  print(sum)

1
2
3

In [21]:
#.Write a program to check if a list is in ascending order or not
a=[1,2,3,4,5,6,7]
c=a[:]
print(c)
a.sort()
if c==a:
  print("yes")
else:
  print("no")

[1, 2, 3, 4, 5, 6, 7]
yes

In [30]:
# Create 2 lists from a given list where 1st list will contain all the odd
# numbers from the original list and the 2nd one will contain all the even
# numbers
a=[2,3,4,5,6,7,8,9,7,10]
l1=[]
l2=[]
for i in a:
  if i%2==0:
    l1.append(i)
    print(l1)
  if i%2!=0:
    l2.append(i)
    print(l2)

In [32]:
n=int(input(" "))
l=[]
l1=[]
l2=[]
for i in range(n):
  ele=int(input(" "))
  l.append(ele)
print(l)
for i in l:
  if i%2==0:
    l1.append(i)
  else:
    l2.append(i)
print(l1)
print(l2)

 3
 1
 2
 3
[1, 2, 3]
[2]
[1, 3]

In [33]:
#.Write a program to merge 2 list without using the + operator.
a=[1,2,3,4]
b=[5,7,8,9]
c=a+b
print(c)

[1, 2, 3, 4, 5, 7, 8, 9]

In [34]:
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 7, 8, 9]

In [35]:
a=[1,2,3,4]
b=[5,7,8,9]
l=[]
l.append(a)
l.append(b)
print(l)

[[1, 2, 3, 4], [5, 7, 8, 9]]

In [40]:
a=[1,2,3,4]
b=[5,7,8,9]
l=[]
for i in a:
  l.append(i)
for j in b:
  l.append(j)
print(l)

[1, 2, 3, 4, 5, 7, 8, 9]

In [41]:
#Write a program to replace an item with a different item if found in the
# list
a=[1,2,3,4,5]
a[0]=100
print(a)

[100, 2, 3, 4, 5]

In [ ]:
#